form.ctavt div {
    margin: 5px;

}

form.ctavt label{
    float: left;
    width: 100px;
    font-weight: bold;
}


form.ctavt input.button{
	
    margin-left: 20px;
    -moz-user-select: none;
    background-color: #F5F5F5;
    /* background-image: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1);*/
    background-image: -moz-linear-gradient(center top , #bbb, #aaa);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px 2px 2px 2px;
    color: #333;
    cursor: default;
    font-family: arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 29px;
    line-height: 27px;
    min-width: 100px;
    padding: 0 8px;
    text-align: center;
}

form.ctavt input.submit{
    margin-left: 20px;
    -moz-user-select: none;
    background-color: #F5F5F5;
    /* background-image: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1);*/
    background-image: -moz-linear-gradient(center top , #439539, #439539);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px 2px 2px 2px;
    color: #eee;
    cursor: default;
    font-family: arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 29px;
    line-height: 27px;
    min-width: 100px;
    padding: 0 8px;
    text-align: center;
}

hr{
    margin: 20px;
    color: green;
    width: 60%;
}

form.ctavt .field {
    height: 29px;
    float: left;
    display: inline-block;
    width: 45%;
}
.clonable {
    width: 800px;
    margin: 10px;
}
