/******* Casual css to make it look a bit prettier *******/

html {overflow-y: scroll;}
html, body {
	margin: 0;
	padding: 0;
	height:100%;
	font-family: Helvetica, Helvetica Neue, Arial sans-serif;
	color: #202121;
}

a, a:active, a:hover, a:visited {
	color:#c83502;
	text-decoration: none;
	display: block;
}

a:hover {
	text-decoration: underline;
}

h1{
	margin: 0;
	margin-bottom: 20px;
	font-size: 1.6em;
}

p {
	text-align: justify;
}

#headerwrap{
	background: #212222 url('/Images/style/texture.jpg') center center repeat-x;
	width: 100%;
}

#header, #nav, #content, #footer{
	width:680px;
	margin: 0 auto;
}
#outerwrap{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -92px;
}
#contentwrap{
	padding-top: 30px;	
}

#footerwrap{
	background: #fdf8ee;
	border-top: 1px solid #efedeb;
	height: 40px;
	width: 100%;
	margin-top: 50px;
}

#footer{
	color:#868582;
	padding-top: 10px;
	font-size: 0.8em;
	overflow: auto;
}

#header {
	overflow: auto;
	padding: 32px 0;
}

#tooltitle {
	height: 47px;
	background: url("../images/jdmweb-icon.png") center left no-repeat;
	padding-left: 80px;
	padding-top: 12px;
}

#jdmweblink img, #jdmweblink a{
	display: inline;
}

#jdmweblink{
	margin: 15px 0 !important;
	clear: both;
	padding-bottom: 45px;
}

#footleft{
	float: left;
	width: 35%;
}

#footright{
	float: right;
	width: 60%;
	text-align: right;
}

/****** Demonstration *********/


#tooltitle a{
	color: #000;
	text-decoration: none;
}

#toolintro {
	text-align: justify;
}

a img {
	border: none;
}
#tooldemo {
 text-align: center;
}
#tooldemo .txt{
	display:block;
	text-align: center;
}
#tooldemowrap{
	margin: 50px 0;
}
#videocontainer{
	display: none;
}
a#videolink img{
	border: 4px solid #d9d9cb;
}

#cloningdemo{
	width: 300px;
	margin: 0 auto;
}
#cloningdemo fieldset{
	margin-bottom: 15px;
	padding: 8px;
}
#cloningdemo .regrow{
	margin-bottom:10px;
}
.clonepostedwrap{
	margin: 0 auto;
	width: 500px;
	text-align: center;
	border-bottom: 1px solid #888;
	margin-bottom: 20px;
}
.cloneusrdemo{
	text-align: left;
	width: 300px;
	margin: 15px auto;
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
}