import os

# Django settings for snoek project.

selfdir = os.path.dirname(os.path.abspath(__file__))

DEBUG = True
TEMPLATE_DEBUG = True

# ADMINS = (
#     ('[root]', '[Put Admin Email Here]'),
# )

#MANAGERS = ADMINS

# DATABASE_ENGINE = 'sqlite3'           # 'postgresql_psycopg2', 'postgresql', 'mysql', 'sqlite3' or 'oracle'.
# #YOUR HOME here
# DATABASE_NAME = os.sep.join([selfdir, 'db.sqlite'])             # Or path to database file if using sqlite3.
# DATABASE_USER = ''             # Not used with sqlite3.
# DATABASE_PASSWORD = ''         # Not used with sqlite3.
# DATABASE_HOST = ''             # Set to empty string for localhost. Not used with sqlite3.
# DATABASE_PORT = ''             # Set to empty string for default. Not used with sqlite3.


DATABASES = {
    "default": {
        "ENGINE": "django.db.backends.sqlite3",
        "NAME": "db.sqlite",
        }
    }

# Local time zone for this installation. Choices can be found here:
# http://en.wikipedia.org/wiki/List_of_tz_zones_by_name
# although not all choices may be available on all operating systems.
# If running in a Windows environment this must be set to the same as your
# system time zone.
#TIME_ZONE = 'America/Chicago'
TIME_ZONE = 'Asia/Shanghai'

# Language code for this installation. All choices can be found here:
# http://www.i18nguy.com/unicode/language-identifiers.html
LANGUAGE_CODE = 'en-us'

SITE_ID = 1

# If you set this to False, Django will make some optimizations so as not
# to load the internationalization machinery.
USE_I18N = True

# Absolute path to the directory that holds media.
# Example: "/home/media/media.lawrence.com/"
MEDIA_ROOT = os.sep.join([selfdir, 'media', os.sep])

# URL that handles the media served from MEDIA_ROOT. Make sure to use a
# trailing slash if there is a path component (optional in other cases).
# Examples: "http://media.lawrence.com", "http://example.com/media/"

MEDIA_URL = '/media/'

# Static URL
STATIC_ROOT = os.sep.join([selfdir, 'static', os.sep])
STATIC_URL = '/static/'

# URL prefix for admin media -- CSS, JavaScript and images. Make sure to use a
# trailing slash.
# Examples: "http://foo.com/media/", "/media/".

ADMIN_MEDIA_PREFIX = '/amedia/'

#Login

LOGIN_URL = "/accounts/login/"
LOGIN_REDIRECT_URL = "/"
ACCOUNT_ACTIVATION_DAYS = 7

# Make this unique, and don't share it with anybody.
SECRET_KEY = 'o@sbsr^cl%wzy96aav!8e2su%qyf*w*qgin6mf77llxt7zapkj'

# List of callables that know how to import templates from various sources.
TEMPLATE_LOADERS = (
    # 'django.template.loaders.filesystem.load_template_source',
    # 'django.template.loaders.app_directories.load_template_source',
    # 'django.template.loaders.eggs.load_template_source',
    'django.template.loaders.filesystem.Loader',
    'django.template.loaders.app_directories.Loader',

)

MIDDLEWARE_CLASSES = (
    'django.middleware.common.CommonMiddleware',
    'django.contrib.sessions.middleware.SessionMiddleware',
    'django.contrib.auth.middleware.AuthenticationMiddleware',
    'django.contrib.messages.middleware.MessageMiddleware',
)

ROOT_URLCONF = 'urls'

TEMPLATE_DIRS = (
    # Put strings here, like "/home/html/django_templates" or "C:/www/django/templates".
    # Always use forward slashes, even on Windows.
    # Don't forget to use absolute paths, not relative paths.
    os.sep.join([selfdir, 'templates']),
)

INSTALLED_APPS = (
    
    'django.contrib.auth',
    'django.contrib.admin',
    'django.contrib.contenttypes',
    'django.contrib.sessions',
    'django.contrib.sites',
    'social.apps.django_app.default',
    'django.contrib.messages',
    'activities',    
    'registration',
)

# Content process
TEMPLATE_CONTEXT_PROCESSORS = (

	"django.contrib.auth.context_processors.auth",  
	"django.core.context_processors.debug",  
	"django.core.context_processors.i18n",  
	"django.core.context_processors.media",  
	"django.core.context_processors.request",
	'snoek_lib.context_processors.custom_proc',
    'social.apps.django_app.context_processors.backends',
    'social.apps.django_app.context_processors.login_redirect',

)

AUTHENTICATION_BACKENDS = (

    'social.backends.suse.OpenSUSEOpenId',
#    'social.backends.suse.SUSEOpenId',
    'social.backends.google.GoogleOAuth',
    'social.backends.yahoo.YahooOpenId',
    'django.contrib.auth.backends.ModelBackend',
    'snoek_lib.backends.CaseInsensitiveAuthBackend',

)


# General Snoek configs
VERSION = "2.0"
TITLE = "SUSE Beijing R&D Team Activities"
# Snoek Meeting configs
STARTTIME     = 8
ENDTIME       = 18
UNITCOLOR     = {True: "GRAY", False: 'WHITE'}
# Better to change a new picture and redefine the hot pot in templates/meeting/new_event.html
# Or just disable the mapping function of image - set ROOMHOTPOT to OFF
ROOMHOTPOT    = "ON"
ROOMNO        = (
    1,
    2,
    3,
    4,
    5,
    6,
    7,
    8,
    9,
)

# Snoek mail service configs

## SERVER_NAME="snoek-no-reply"
## MAIL_PREFIX="[Snoek] "
## MAIL_POSTFIX="suse.com"
## MAIL_SIG="\n\nHappy working!\n\n--\nThis message was automatically generated by the \
## Snoek-Server at\n"+MEDIA_URL

# Choose to use local mail service or Novell LDAP mail service. Now only local
# mail service is available.

# local mail service: mail_server="local" LDAP
# ldap  mail service: mail_server="LDAP"

# Email settings

## EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'
## DEFAULT_FROM_EMAIL = 'opensuse.asia@gmail.com'
## EMAIL_HOST = '127.0.0.1'
## #EMAIL_HOST_USER = 'suse@example.com'
## #EMAIL_HOST_PASSWORD = 'PASSWORD'
## EMAIL_USE_TLS = False
## EMAIL_PORT = 25
MAIL_SERVER="local"
