{% extends "base.html" %}

{% load i18n adminmedia %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />{% endblock %}
{% block userlinks %}{% url django-admindocs-docroot as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% trans 'Documentation' %}</a> / {% endif %} {% trans 'Change password' %} / <a href="../logout/">{% trans 'Log out' %}</a>{% endblock %}
{% block breadcrumbs %}<div class="breadcrumbs"><a href="../">{% trans 'Home' %}</a> &rsaquo; {% trans 'Password change' %}</div>{% endblock %}

{% block title %}{% trans 'Password change' %}{% endblock %}

{% block content %}<div id="content-main"><hr>

<form action="" method="post">{% csrf_token %}
{% if form.errors %}
    <p class="errornote">
    {% blocktrans count form.errors.items|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
{% endif %}

<h1>{% trans 'Password change' %}</h1>

<p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

<table class="form-row">
		<tr><th>{% trans 'Old password' %}</th><td>{{ form.old_password }}</td> <td>{{ form.old_password.errors }}</td></tr>
		<tr><th>{% trans 'New password' %}</th><td>{{ form.new_password1 }}</td><td>{{ form.new_password1.errors }}</td></tr>
		<tr><th>{% trans 'Password (again)' %}</th><td>{{ form.new_password2 }}</td><td>{{ form.new_password2.errors }}</td></tr>
</table>
<div class="submit-row">
    <input type="submit" value="{% trans 'Change my password' %}" class="default" />
</div>

<script type="text/javascript">document.getElementById("id_old_password").focus();</script>
</form>
</div>
{% endblock %}
