{% extends "registration/registration_base.html" %}
{% load i18n %}
{% block title %}{% trans "Change password" %}{% endblock %}
{% block content %}

<div id="main">

<img src="{{MEDIA_URL}}/image/chameleon.png" id="chameleon" />
<br />
<div id="logo_text">openSUSE.Asia Summit 2014 Logo Contest</div>

<div class="chpwd">
<table>
    <form method='post' action=''>{% csrf_token %}
        {{ form }}
        <tr><td></td><td><input type="submit" value="{% trans "Change password" %}" /></td>
    </form>
</table>
</div>

</div>
{% endblock %}
