{% extends "base1.html" %}

{% block content %}

{% include 'meeting/comtitle.html' %}

<script language="javascript">
<!-- Hide From Other Browsers.

function isDate(str)
{
    var d = str.match(/^(\d{1,4})-(\d{1,2})-(\d{1,2})$/);
    if(d==null) {
	document.event.date.value='';
         alert ("Input Date error!  Syntax is year-month-day. eg,2011-9-28");
    }else{
        if (parseInt(d[2])>12 || parseInt(d[2])<1) {
	    document.event.date.value='';
            alert ("Input Date error!  Month must be in 1..12");
        }
        if (parseInt(d[3])>31 || parseInt(d[3])<1) {
	    document.event.date.value='';
            alert ("Input Date error!  Day must be in 1..31");
        }

        var today = new Date();
        var day = new Date(str);
        if ((day.getTime()+24*60*60*1000) < today.getTime()){
	    document.event.date.value='';
            alert("Could not reserve meeting room in past date.");
        }
    }
}

function isTime(time)
{
//    var regex = /(^[0-2]{1}[0-9]{1})(:[0-5]{1}[0-9]{1})(:[0-5]{1}[0-9]{1})?$/;
    var t = time.match(/(^[1-2]?[0-9]{1}):([0-5]{1}[0-9]{1})(:[0-5]{1}[0-9]{1})?$/);
//    if( !regex.test(time) ) { 
    if( t==null ) { 
	alert("Input time error! Enter a valid time in HH:MM[:ss] format. ");
    }
    if (parseInt(t[1])>24 || (parseInt(t[1])<{{settings.STARTTIME}}) || (parseInt(t[1])> {{settings.ENDTIME}}) ) {
        //Not available in offtime meeting
	alert ("Input Date error!  Hour only available in "+{{settings.STARTTIME}}+".."+{{settings.ENDTIME}});
	document.event.starttime.value='';
	document.event.endtime.value='';
    }
}

function compareTime(stime,etime)
{
   if (stime==''){
       alert("Please input StartTime first!");
       return false;
   }
   //Check the valid input
   isTime(stime);
   isTime(etime);

   var arrs=stime.split(":");
   if (arrs[2]==null){
       var starttime=new Date(String("2011"),String("9"),String("28"),String(arrs[0]),String(arrs[1]-1));
   }else{
       var starttime=new Date(String("2011"),String("9"),String("28"),String(arrs[0]),String(arrs[1]-1),String(arrs[2]));
   }
   var starttimes=starttime.getTime();

   var arre=etime.split(":");
   if (arre[2]==null){
       var endtime=new Date(String("2011"),String("9"),String("28"),String(arre[0]),String(arre[1]-1));
   }else{
       var endtime=new Date(String("2011"),String("9"),String("28"),String(arre[0]),String(arre[1]-1),String(arre[2]));
   }
   var endtimes=endtime.getTime();

   if(starttimes > endtimes)
   {
       document.event.endtime.value='';
       alert('EndTime must late than StartTime!');
   }

}

//stop hidden-->
</script>

<style type="text/css">
body {
    background-image: url("");
}
</style>

<div style="position:absolute;left:450px; top:230px" ><img src="{{settings.MEDIA_URL}}/image/beijing.png" width=660; height=550></div>

<form action="/meetingroom/set_event/" method="post" name="event" >
    <pre>Date:          <input type="text" maxlength="12" name="date" onblur="isDate(this.value)"></pre>
    <pre>StartTime:     <input type="text" maxlength="10" name="starttime" onblur="isTime(this.value)"></pre>
    <pre>EndTime:       <input type="text" maxlength="10" name="endtime" onblur="compareTime(document.event.starttime.value,this.value)" ></pre>
    <pre>MeetingRoom:   <select name="roomno" >
        <option value="" selected>
	{% for room in settings.ROOMNO %}
            <option value="{{ room }}" > {{ room }}
        {% endfor %}
    </select></pre>
    <pre>Holder:        <select name="holder" >
	{% for n in alluser %}
	    {% ifequal n user %}
                <option value="{{ n.username }}" selected> {{ n.username }}
            {% else %}
                <option value="{{ n.username }}"> {{ n.username }}
            {% endifequal %}
        {% endfor %}
    </select></pre>
    <p><pre>Participant:   </pre><pre>               <select multiple name="participant" size="6">
	{% for m in alluser %}
	    {% ifequal m user %}
                <option value="{{ m }}" selected> {{ m.username }}
            {% else %}
                <option value="{{ m }}"> {{ m.username }}
            {% endifequal %}
        {% endfor %}
    </select></pre></p>
    <p><pre>Purpose of reservation:      </pre><textarea name="purpose" cols="40" rows="5" wrap="Virtual"></textarea></p>
    <input type="submit" value="Submit" onsubmit="test()" ></pre>
</form>

{% endblock %}
