{% extends "base1.html" %}

{% block content %}

{% include 'meeting/comtitle.html' %}

<script language="javascript">
<!-- Hide From Other Browsers.

function isDate(str)
{
    var d = str.match(/^(\d{4})-(\d{1,2})-(\d{1,2})$/);
    if(d==null) {
	document.event.date.value='';
         alert ("Input Date error!  Syntax is year-month-day. eg,2011-9-28");
    }else{
        if (parseInt(d[2])>12 || parseInt(d[2])<1) {
	    document.event.date.value='';
            alert ("Input Date error!  Month must be in 1..12");
        }
        if (parseInt(d[3])>31 || parseInt(d[3])<1) {
	    document.event.date.value='';
            alert ("Input Date error!  Day must be in 1..31");
        }

        var today = new Date();
        var day = new Date();
        <!-- month syntax is 0-11 -->
        day.setFullYear(parseInt(d[1]), (parseInt(d[2])-1), parseInt(d[3]));

        if (day.getTime() < today.getTime()){
	    document.event.date.value='';
            alert("Could not reserve meeting room in past date.");
        }
    }
}

function isTime(time)
{
//    var regex = /(^[0-2]{1}[0-9]{1})(:[0-5]{1}[0-9]{1})(:[0-5]{1}[0-9]{1})?$/;
    var t = time.match(/(^[1-2]?[0-9]{1}):([0-5]{1}[0-9]{1})(:[0-5]{1}[0-9]{1})?$/);
//    if( !regex.test(time) ) { 
    if( t==null ) { 
	alert("Input time error! Enter a valid time in HH:MM[:ss] format. ");
    }
    if (parseInt(t[1])>24 || (parseInt(t[1])<{{settings.STARTTIME}}) || (parseInt(t[1])> {{settings.ENDTIME}}) ) {
        //Not available in offtime meeting
	alert ("Input Date error!  Hour only available in "+{{settings.STARTTIME}}+".."+{{settings.ENDTIME}});
	document.event.starttime.value='';
	document.event.endtime.value='';
    }
}

function compareTime(stime,etime)
{
   if (stime==''){
       document.event.endtime.value='';
       alert("Please input StartTime first!");
       return false;
   }
   //Check the valid input
   isTime(stime);
   isTime(etime);

   var arrs=stime.split(":");
   if (arrs[2]==null){
       var starttime=new Date(String("2011"),String("9"),String("28"),String(arrs[0]),String(arrs[1]-1));
   }else{
       var starttime=new Date(String("2011"),String("9"),String("28"),String(arrs[0]),String(arrs[1]-1),String(arrs[2]));
   }
   var starttimes=starttime.getTime();

   var arre=etime.split(":");
   if (arre[2]==null){
       var endtime=new Date(String("2011"),String("9"),String("28"),String(arre[0]),String(arre[1]-1));
   }else{
       var endtime=new Date(String("2011"),String("9"),String("28"),String(arre[0]),String(arre[1]-1),String(arre[2]));
   }
   var endtimes=endtime.getTime();

   if(starttimes > endtimes)
   {
       document.event.endtime.value='';
       alert('EndTime must late than StartTime!');
   }

}

function selectRoom(roomno)
{
    document.event.roomno.value=roomno
}

//stop hidden-->
</script>

<style type="text/css">
body {
    background-image: url("");
}
</style>

{% ifequal settings.ROOMHOTPOT "ON" %}
<!-- This field should be changed once the picture or meeting room change.Using ismap to find the coordinates -->
<div style="position:absolute;left:550px; top:230px" >
<a href="#"><img src="{{settings.MEDIA_URL}}/image/beijing.png" title="BJ office site map" usemap="#bjmap" width=660; height=550 /></a>
</div>

<map name="bjmap" id="bjmap">

<area
shape="poly"
coords="540,324,604,306,629,394,564,412"
onclick="selectRoom('1')"
title="1" />

<area
shape="poly"
coords="533,419,629,394,648,463,646,474,639,480,546,480,547,465"
onclick="selectRoom('2')"
title="2" />

<area
shape="poly"
coords="497,429,533,419,547,465,546,480,511,480"
onclick="selectRoom('3')"
title="3" />

<area
shape="poly"
coords="460,439,497,429,511,480,471,480"
onclick="selectRoom('4')"
title="4" />

<area
shape="poly"
coords="374,365,403,358,414,394,385,401"
onclick="selectRoom('5')"
title="5" />

<area
shape="poly"
coords="335,375,374,365,385,401,346,411"
onclick="selectRoom('6')"
title="6" />

<area
shape="poly"
coords="176,300,212,290,220,316,183,326"
onclick="selectRoom('7')"
title="7" />

<area
shape="poly"
coords="160,246,197,236,204,260,168,269"
onclick="selectRoom('8')"
title="8" />

<area
shape="poly"
coords="62,69,90,61,100,98,72,106"
onclick="selectRoom('9')"
title="9" />

</map>
<!-- field end -->

{% else %}

<div style="position:absolute;left:550px; top:230px" >
<img src="{{settings.MEDIA_URL}}/image/beijing.png" title="BJ office site map" width=660; height=550 /></div>

{% endifequal %}

<form action="/meetingroom/set_event/" method="post" name="event" >
  <table>
    <tr>
	  <th>Date:</th>
	  <td><input type="text" maxlength="12" name="date" onblur="isDate(this.value)" title="date format: YYYY-MM-DD"> <spam id="example">(eg: 2012-03-01)</spam></td>
    </tr>
	<tr>
	  <th>StartTime:</th>
	  <td><input type="text" maxlength="10" name="starttime" onblur="isTime(this.value)" title="time format: HH:MM"> <spam id="example">(eg: 08:30)</spam></td>
    </tr>
	<tr>
      <th>EndTime:</th>
	  <td><input type="text" maxlength="10" name="endtime" onblur="compareTime(document.event.starttime.value,this.value)" title="time format: HH:MM"> <spam id="example">(eg: 08:30)</spam></td>
    </tr>
	<tr>
      <th>MeetingRoom:</th>
	  <td>
        <select name="roomno">
          <option value="" selected>
	        {% for room in settings.ROOMNO %}
          <option value="{{ room }}" > {{ room }}
            {% endfor %}
        </select>
      </td>
    </tr>
	<tr>
      <th>Holder:</th>
      <td>
        <select name="holder" >
          {% for n in alluser %}
	        {% ifequal n user %}
              <option value="{{ n.username }}" selected> {{ n.username }}
            {% else %}
              <option value="{{ n.username }}"> {{ n.username }}
            {% endifequal %}
          {% endfor %}
		</select>
	  </td>
    </tr>
	<tr>
      <th>Participant:</th>
      <td>
        <select multiple name="participant" size="6">
	      {% for m in alluser %}
	        {% ifequal m user %}
              <option value="{{ m }}" selected> {{ m.username }}
            {% else %}
              <option value="{{ m }}"> {{ m.username }}
            {% endifequal %}
          {% endfor %}
		</select>
	  </td>
    </tr>
	<tr>
      <th>Purpose of reservation:</th>
      <td><textarea name="purpose" cols="40" rows="5" wrap="Virtual"></textarea></td>
    </tr>
    <tr><td></td><td><input type="submit" value="Submit" onsubmit="test()" ></td></tr>
  </table>
</form>

{% endblock %}
