{% extends "base1.html" %}

{% block content %}

{% include 'meeting/comtitle.html' %}

{% for dia in diagrams %}
    <TABLE class="meeting" BORDER=2>
    <CAPTION  WIDTH=30>{{ dia.meetingroom }}</CAPTION>
    <TR><TD><TH COLSPAN=1 WIDTH=200> 主持人 － 时间</TH>      
        {% for unit in dia.units %}
	<TR><TH ROWSPAN=1>{{ unit.0 }} <TD class="meeting" BGCOLOR={{ unit.1 }}> 
            {% for event in unit.2 %}
	    <a title="{{event.1}}">{{ event.0 }}</a> <br>
            {% endfor %}
	{% endfor %}
    </TABLE>
{% endfor %}

{% endblock %}
