{% extends "base1.html" %}

{% block content %}

{% include 'meeting/comtitle.html' %}

<script language="javascript">
<!-- Hide From Other Browsers.

function isDate(str)
{
    if(str=='') {
    }else{
        var d = str.match(/^(\d{1,4})-(\d{1,2})-(\d{1,2})$/);
	if(d==null) {
	    document.dayroom.date.value='';
	    alert("Input Date error!  Syntax is year-month-day. eg,2011-9-28");
        }else{
            if (parseInt(d[2])>12 || parseInt(d[2])<1) {
                document.dayroom.date.value='';
                alert ("Input Date error!  Month must be in 1..12");
            }
            if (parseInt(d[3])>31 || parseInt(d[3])<1) {
	        document.dayroom.date.value='';
                alert ("Input Date error!  Day must be in 1..31");
            }
       }
    }
}

//stop hidden-->
</script>
<link rel="stylesheet" type="text/css" href="http://localhost/css/create_activity.css" />
<form action="/meetingroom/showstatus/" class="ctavt" method="get" name="dayroom">
<table>
  <tr>
	<td>Date:</td>
	<td><input type="text" name="date" onblur="isDate(this.value)"></td>
  </tr>
  <tr>
	<td>MeetingRoom:</td>
	<td><select name="roomno">
          <option value="" selected>
            {% for room in settings.ROOMNO %}
          <option value="{{ room }}" > {{ room }}
            {% endfor %}
	    </select>
    </td>
  </tr>
</table>
<input class="button" type="submit" value="Submit">
</form>

{% for dia in diagrams %}
    <table id="vote_result" class="meeting">
    <CAPTION>{{ dia.meetingroom }}</CAPTION>
    <tr><td><th COLSPAN=1> 主持人 － 时间</th>
        {% for unit in dia.units %}
	<tr><th>{{ unit.0 }} <td>
            {% for event in unit.2 %}
	    <a title="{{event.1}}">{{ event.0 }}</a> <br>
            {% endfor %}
	{% endfor %}
    </table>
{% endfor %}
<br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/>
<br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/>

{% endblock %}
