{% extends "base1.html" %}

{% block content %}

{% include 'meeting/comtitle.html' %}

{% for e in events %}
    {% if forloop.first %}
	<pre><h2 class="meeting">{{ user.username }}: you have reserved {{ forloop.revcounter}} meeting(s).</h2></pre>
    {% endif %}

    <form action="/meetingroom/delevent_{{e.id}}/" method="get" name="del">
    <table id="vote_result">
    <pre><font size=5>{{ forloop.counter }}.                          {{ e.meeting_room.date }}</font>   <input type="SUBMIT" value="Delete"></pre>
    </form>
    <tr><th>Room {{ e.meeting_room.room_no }}</th><th> {{ e.start_time}} -- {{ e.end_time }} </th>
    <tr><th>Participants: </th><td>{% for a in e.getAud %}
        {% if not forloop.last %}
            &nbsp;{{ a.username }},
        {% else %}
            &nbsp;{{ a.username }}.
        {% endif %}
    {% endfor %}</td>
<tr><th>Purpose: </th><td>&nbsp;{{ e.purpose }}</td>
    </form>
    </table>
{% empty %}
    <pre><h2 class="meeting"> {{ user.username }}: you have not reserved meeting yet.</h2></pre>
{% endfor %}

{% endblock %}
