{% extends "base1.html" %}

{% block content %}

{% include 'meeting/comtitle.html' %}

{% for e in meetings %}
    {% if forloop.first %}
        <pre><h2 class="meeting">{{ user.username }}: you have {{ forloop.revcounter}} meeting(s) to attend.</h2></pre>
    {% endif %}

    <table id="vote_result">
    <pre><font size=5>{{ forloop.counter }}.                              {{ e.meeting_room.date }}</font></pre>
    <tr class="alt"><th>Room {{ e.meeting_room.room_no }}</th><th> {{ e.start_time}} -- {{ e.end_time }} </th>
	<tr class="alt"><th>Holder: </th><td>&nbsp;{{ e.holder.username }}</td></tr>
    <tr><th>Participants: </th><td>{% for a in e.getAud %}
        {% if not forloop.last %}
            &nbsp;{{ a.username }},
        {% else %}
            &nbsp;{{ a.username }}.
        {% endif %}
    {% endfor %}</td>
<tr><th>Purpose: </th><td>&nbsp;{{ e.purpose }}</td>
</table>
{% empty %}
    <pre><h2 class="meeting"> {{ user.username }}: you have not reserved meeting yet.</h2></pre>
{% endfor %}

{% endblock %}
