form.ctavt table{

    margin: 20px;
    /* padding: 0; */
    /* border-spacing:0; */
    color: #666;

}

form.ctavt input{

    margin: 20px;

}

form.ctavt input.text{

    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: #C0C0C0 #D9D9D9 #D9D9D9;
    border-right: 1px solid #D9D9D9;
    border-style: solid;
    border-width: 1px;
    width: 400px;
    height: 20px;
    font-size: large;
    font-weight: bold;
    
}

form.ctavt input.readonly_text{

    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ddd;
    border-color: #C0C0C0 #D9D9D9 #D9D9D9;
    border-right: 1px solid #D9D9D9;
    border-style: solid;
    border-width: 1px;
    width: 400px;
    height: 20px;
    font-size: large;
    font-weight: bold;
    
}

form.ctavt input.button{

    -moz-user-select: none;
    background-color: #F5F5F5;
    /* background-image: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1);*/
    background-image: -moz-linear-gradient(center top , #777, #aaa);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px 2px 2px 2px;
    color: #eee;
    cursor: default;
    font-family: arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    height: 29px;
    line-height: 27px;
    min-width: 100px;
    padding: 0 8px;
    text-align: center;
}
