<!DOCTYPE HTML>
<html>
<head>
<title>openSUSE.Asia Summit 2014 Logo Contest</title>
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/style.css" /> 
<script src="{{MEDIA_URL}}js/jquery.min.js"></script>
</head>
<body>
<script language="javascript">
    $(document).ready(function(){

            $("ul.subnav").parent().append("<span></span>"); //Only shows drop down trigger when js is enabled (Adds empty span tag after ul.subnav*)

            $("ul.topnav li span").hover(function() { //When trigger is clicked...

                    //Following events are applied to the subnav itself (moving subnav up and down)
                    $(this).parent().find("ul.subnav").slideDown('fast').show(); //Drop down the subnav on click

                    $(this).parent().hover(function() {
                    }, function(){
                            $(this).parent().find("ul.subnav").slideUp('medium'); //When the mouse hovers out of the subnav, move it back up
                    });

                    //Following events are applied to the trigger (Hover events for the trigger)
                    }).hover(function() {
                            $(this).addClass("subhover"); //On hover over, add class "subhover"
                    }, function(){	//On Hover Out
                            $(this).removeClass("subhover"); //On hover out, remove class "subhover"
            });

    });
</script>

<table class="header_table">
<tr>
<header class="login">
  <td><img src="{{MEDIA_URL}}image/snoek.png" width = 150 height = 50 alt="snoek logo"></td>
  <td><header class="title">Snoek v{{settings.VERSION}} - {{settings.TITLE}} </header></b></td>
  {% if user.is_authenticated %}
    <td align = right>

      Snoeker: {{user.username}}
      <a href =  '/accounts/chpwd'><img src="{{MEDIA_URL}}image/key.png" alt="Change your password" border = 0></a>&nbsp;&nbsp; &nbsp;
      <a href =  '/accounts/logout?next=/'>Logout</a>

    </td>
      <td align = right><a href = '/'>&nbsp;</a></td>
  {% else %}
    <td align = right><a href = '/accounts/login?next=/'>Login</a></td>
    <td align = right><a href = '/'>&nbsp;</a></td>
  {% endif %}
</header>
</tr>

</table>
<!-- <table class="nav"> -->
<!-- <tr><td> -->
<!-- <ul class="topnav"> -->
<!--     <li><a href="/">Home</a></li> -->
<!--     <li> -->
<!--         <a href="#">Create an Activity</a> -->
<!--         <ul class="subnav"> -->
<!--             <li><a href="/newteambuilding">Team Building</a></li> -->
<!--             <li><a href="/newclothes">Order Clothes</a></li> -->
<!--             <li><a href="/newothers">Others</a></li> -->
<!--         </ul> -->
<!--     </li> -->
<!--     <li><a href="/about">About Us</a></li> -->
<!-- </ul> -->
<!-- </td></tr> -->

<!-- </table> -->
{% block content %}{% endblock %}
<br/><br/>
<footer>
    <b>Snoek team @ SUSE - Hackweek 9</b>
</footer>
</body>

</html>
