<!DOCTYPE HTML>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Login openSUSE.Asia Summit 2014 Logo Contest</title>
	<!-- Simple OpenID Selector -->
	<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}/css/login.css" />
	<script type="text/javascript" src="{{MEDIA_URL}}/js/openid-selector/jquery-1.2.6.min.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}/js/openid-selector/openid-jquery.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}/js/openid-selector/openid-en.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			openid.init('openid_identifier');
			openid.setDemoMode(false); //Stops form submission for client javascript-only test purposes
		});
	</script>
</head>

<body>
{% block content %}{% endblock %}
</body>
</html>
