<!DOCTYPE HTML>
<html>
<head>
<title>Novell Beijing R&D Team Activities</title>
<link rel="stylesheet" type="text/css" href="{{settings.MEDIA_URL}}/css/style.css" />
<script language="JavaScript" src="{{settings.MEDIA_URL}}/jquery/jquery-1.6.4.js" type="text/javascript"></script>
</head>
<body>

<table class="header_table">

<tr>
<header class="login">
  <td><img src="{{settings.MEDIA_URL}}/image/snoek.png" width = 150 height = 50 alt="snoek logo"></td>
  <td><header class="title">Snoek v{{settings.VERSION}} - {{settings.TITLE}} </header></b></td>
  {% if user.is_authenticated %}
    <td align = right>

      Snoeker: {{user.username}}
      <a href =  '/accounts/chpwd'><img src="{{settings.MEDIA_URL}}/image/key.png" alt="Change your password" border = 0></a>&nbsp;&nbsp; &nbsp;
      <a href =  '/accounts/logout?next=/'>Logout</a>

    </td>
      <td align = right><a href = '/'>Home</a></td>
  {% else %}
    <td align = right><a href = '/accounts/login?next=/'>Login</a></td>
    <td align = right><a href = '/'>Home</a></td>
  {% endif %}
</header>
</tr>

</table>
{% block content %}{% endblock %}
<br/><br/>
<footer>
    <b>Snoek team @ SUSE - Hackweek 7</b>
</footer>
</body>

</html>
