{% extends "base1.html" %}
{% block content %}
<script language="javascript">

function confirmRemoveActivity(aid){
    var agree = confirm('Do you really want to Delete this Activity?\nAll voting results will be removed after Deletion.');
    if (agree)
        window.location.href="/deltact" + aid
    else
        return
}

</script>

			<table class="nav">
				<tr>

					<td width="900"><h3><a href="#">Team
					building</a>

					    {% if user.is_authenticated %}
					    <input type="BUTTON" value="New" onclick="self.location.href='/newteambuilding'">
					    {% endif %}

					</h3></td>
					<td width="900"><h3><a href="#">Order
					Clothes</a>

					    {% if user.is_authenticated %}					    
					    <input type="BUTTON" value="New" onclick="self.location.href='/newclothes'">
					    {% endif %}					    

					</h3></td>
					<td width="900"><h3><a href="http://147.2.207.243:8081/">Friday's
					Topic</a>

					    {% if user.is_authenticated %}					    
					    <input type="BUTTON" value="New">
					    {% endif %}					    

					</h3></td>					

					<td width="900"><h3><a href="">Meeting
					Room</a>

					    {% if user.is_authenticated %}
					    <input type="BUTTON" value="New"></h3>
					    {% endif %}
					  
					</td>

					<td width="900"><h3><a href="#">Others</a>

					    {% if user.is_authenticated %}
					    <input type="BUTTON" value="New" onclick="self.location.href='/newothers'"></h3>
					    {% endif %}
					  
					</td>					
				</tr>
			</table>

<h1> Activities list </h1>

<section class="avt_lst">

    {% for a in avt %}

    <a href = 'activity/{{ a.id }}' class="normal"> {{a.summary}} </a>&nbsp;

    <!-- show/hide edit delt button -->
    {% if a.user.id == user.id %}
    <a href = '#' onclick="confirmRemoveActivity({{a.id}})" class="strong">&nbsp;Delet&nbsp;</a>
    &nbsp;
    <a href = 'edit_activity{{a.id}}' class="strong">&nbsp;Edit&nbsp;</a><br/>
    {% else %}
    <br/>
    {% endif %}
    <br/>

    {% endfor%}

</section>

{% endblock %}
