{% extends "base1.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/create_activity.css" />
<form action="/activity_submit" method="post" class="ctavt">
  <table class="ctavt">
	<tr>
	  <th>Summary</th><td><input class="text" type="text" name="summary" /></td>
	</tr>
	<tr>
	  <th>Description</th><td><input class="text" type="text" name="description" /></td>
	</tr>
	<tr>
	  <th>Deadline</th><td><input class="text" type="text" name="deadline" /> (YYYY-MM-DD HH:MM, 2013-04-09 16:59)</td>
	</tr>
	<tr>
	  <th>Category</th><td><input class="readonly_text" type="text"
	  value="{{category}}" name="category" readonly="readonly" /></td>
	</tr>
  </table>
  <input class="button" type="submit" value="Create" />
</form>
{% endblock %}

