{% extends "base1.html" %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/css/create_activity.css" />
<script src="{{MEDIA_URL}}/js/jquery.ui.widget.js"></script>
<script src="{{MEDIA_URL}}/js/jquery.iframe-transport.js"></script>
<script src="{{MEDIA_URL}}/js/jquery.fileupload.js"></script>
<script src="{{MEDIA_URL}}/js/jquery.formset.js"></script>

<script>

$(document).ready( function() {
    $('#myformset').formset();
    $('#form').on('click', '.add_q', function(e) {
        e.preventDefault();
        cloneMore($(this).parents('tr'));
    });
    $("#fileupload").change(function(){
        readURL(this);
        console.log("file changed");
    });
});
function cloneMore(obj){
    var str = obj.prev().find('label').html();
    var pattern = /[0-9]+/;
    str = str.match(pattern)[0];
    var num = parseInt(str);
    console.log(num);
    var newrow_pic = obj.prev().clone(false);
    var newrow_q   = obj.prev().prev().clone(false);
    replaceTr(newrow_pic, 'pic', num);
    replaceTr(newrow_q, 'q', num);
    obj.before(newrow_q);
    obj.before(newrow_pic);
}
function replaceTr(obj, str, num){
    obj.find(':input').each(function() {
        var name = $(this).attr('name').replace(str+num, str+(num+1));
        console.log(name);
        var id = 'id_' + name;
        $(this).attr({'name': name, 'id': id}).val('');
    });
    obj.find('label').each(function() {
        var newFor = $(this).attr('for').replace(str+num, str+(num+1));
        $(this).attr('for',newFor);
        $(this).html(str+(num+1)+':');
    });
}

function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();            
        reader.onload = function (e) {
            $('#target').attr('src', e.target.result);
        }
    reader.readAsDataURL(input.files[0]);
    }
}

</script>

<form id="form" class="ctavt" action="/vote_submit{{act.id}}" method="post" enctype="multipart/form-data">
    {{ formset.management_form }}
    <table id="myformset">
        {% for form in formset %}
            {{ form }}
            <tr><td><a class="add_q" href="#">Add a Question</a></td></tr>
        {% endfor %}
    </table>
    <input class="submit" type="submit" value="Submit" />
</form>



{%endblock%}
