{% extends "base1.html" %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/create_activity.css" />
<script src="{{MEDIA_URL}}js/jquery.ui.widget.js"></script>
<script src="{{MEDIA_URL}}js/jquery.iframe-transport.js"></script>
<script src="{{MEDIA_URL}}js/jquery.fileupload.js"></script>
<script src="{{MEDIA_URL}}js/jquery.cloneform.js"></script>

<script>
$(document).ready( function() {
    $('fieldset div input:first').val('3');
    $('div:has(input[type=hidden])').hide();      //hide the q_count
    $('fieldset div:lt(3)').removeClass('field');
    form_template = $(".clonable:first").clone();
    $('#form').on('click', '.add_q', function(e) {
        e.preventDefault();
        clonequestion(this);
    });
    $("#fileupload").change(function(){
        readURL(this);
        console.log("file changed");
    });

	$('#form').on('click', '#clonetrigger', function(){
		var clonecount = $(".clonable").length;	//how many clones do we already have?
		var newid = Number(clonecount) + 1;		//Id of the new clone   
		$(".clonable:first").fieldclone({		//Clone the original elelement
			newid_: newid,						//Id of the new clone, (you can pass your own if you want)
			target_: $("#formbuttons"),			//where do we insert the clone? (target element)
			insert_: "before",					//where do we insert the clone? (after/before/append/prepend...)
			limit_: 4							//Maximum Number of Clones
		});
		return false;
	});
});
function clonequestion(obj){
    var q_count = $(obj).parents('fieldset').find('input').first().val();
    $(obj).parents('fieldset').find('input').first().val(Number(q_count)+1);
    console.log(q_count);
    var newrow_pic = $(obj).parents('div').prev().clone();
    var newrow_q = $(obj).parents('div').prev().prev().clone();
	$(newrow_pic).add(newrow_q).find('input').each(function(){
        $(this).val(null);                      //don't clone the value of input
        var s = $(this).attr("name"); 			
		$(this).attr("name", s.replace(eval('/[0-9]+$/i'), Number(q_count)+1)); 
		var s = $(this).attr("id"); 			
		$(this).attr("id", s.replace(eval('/[0-9]+$/i'), Number(q_count)+1)); 
	});
	$(newrow_pic).add(newrow_q).find('label').each(function(){
        var s = $(this).html(); 			
		$(this).html(s.replace(eval('/[0-9]+$/i'), Number(q_count)+1)); 
	});
    $(obj).parents('div').before(newrow_q);
    $(obj).parents('div').before(newrow_pic);
}

function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();            
        reader.onload = function (e) {
            $('#target').attr('src', e.target.result);
        }
    reader.readAsDataURL(input.files[0]);
    }
}

</script>

<form id="form" class="ctavt" action="/vote_submit{{act.id}}" method="post" enctype="multipart/form-data">
    <fieldset class="clonable">{% for field in form %}
        <div class="field">
            <label>{{field.label}}</label>{{field}}
        </div>
    {% endfor %}
    <div class="field"><a class="add_q" href="#">Add a Question</a></div>
    </fieldset>

    <div id="formbuttons">
        <input type="button" class="button" id="clonetrigger" value="Clone" />
        <input type="submit" class="button" id="clonesubmit" value="Submit" />
    </div>
</form>



{%endblock%}
