{% extends "base1.html" %}
{% block content %}

<script type="text/javascript">


function checkpolls() {
    v = validatepolls();

    if (v) {
    	return true;
    }else{
        alert('Please fill up all votes before submitting.');
    }
    return false;
}

function validatepolls() {
    var formElements = window.document.getElementById("polls").elements;
    var formElement;
    var radioArray = [];
    var current_radio;
    var radio_checked = false;

    for (var i = 0; i < formElements.length; i++) {
        formElement = formElements.item(i);
        if (formElement.type === "radio") {
            current_radio = formElements.item(i);
            break;
        }
    }

    for (var i = 0; i < formElements.length; i++) {
        formElement = formElements.item(i);
        if (formElement.type === "radio") {
            if (formElement.id === current_radio.id){
                radio_checked = formElement.checked || radio_checked ;
            }else{
                current_radio = formElement;
                if (radio_checked) {
                    radio_checked = false ;
                    radio_checked = formElement.checked || radio_checked;
                }else{
                    return false;
                }
            }
        }
    }
    return radio_checked;
}

function vote() {

   window.document.polls.action = "{{avt.id}}/vote/";
   p = checkpolls();
   if (p){
       window.document.polls.submit();
       return true;
   }else{
       return false;
   }
}

function revote() {

    window.document.polls.action = "{{avt.id}}/revote/";
    p = checkpolls();
    if (p){
        window.document.polls.submit();
        return true;
    }else{
        return false;
    }
}

function delvote() {

    document.polls.action = "{{avt.id}}/delvote/";
    document.polls.submit();
    return true;

}

</script>

<div class = "mainbody">

<!-- Activity summary -->

<h2>Activity</h2>

{% if not user.is_authenticated and not is_expired%}
    <p><a href = "/accounts/login?next=/">Please login to attend vote</a>
{% endif %}

<p> <b>Summary:</b> {{ avt.summary }}
<p> <b>Description:</b> {{ avt.description }}
<p> <b>Category:</b> {{ avt.category }}
<p> <b>Creater:</b> {{ avt.user.first_name }} {{ avt.user.last_name }} &lt;{{ avt.user.email }}&gt;

{% if not is_expired %}	
    <p class="general_warning"> Expired on: {{ avt.deadline }}
{% else %}
    <p class="general_error"> The Votes	has been expired ( on {{ avt.deadline }} )
{% endif %}

<p><a href = "/whovotewhat/{{avt.id}}" class="strong">&nbsp;&nbsp;Who vote what&nbsp;&nbsp;</a>  <a href="/download_activity/{{ avt.id }}" class="strong" title="download voting result as OpenDocument Format"> &nbsp;&nbsp;Download me&nbsp;&nbsp; </a>

<!-- Show take vote for an authenticated user who hasn't voted yet -->

<section class="take_vote">
    {% if user.is_authenticated %}
        {% if not is_expired %}
            <h2>Take Vote</h2>
            <form method="POST" name="polls" id="polls">

            <table id="take_vote">
               <tr>
               {% for vt in votes %}
                   <th>{{vt.summary}}</th>
               {% endfor %}
               </tr>

               <tr>
               {% for vt in votes %}
                    <td valign = top>
                    {% for q in vt.questions%}
                        {% if q.content != "" or q.pic != "" %}
                        <input type="radio" name="vote{{vt.id}}" value="{{ q.id }}" id="{{ vt.id }}"/>
                        {% autoescape off %}
                            {{ q.content }}
                            {% if q.pic != "" and q.pic != False %}
                                <a href= "{{MEDIA_URL}}{{q.pic}}" target="_blank"> <img src = "{{MEDIA_URL}}{{q.pic}}" width=200 height=200 border=0 /></a>
                            {% endif %}
                        {% endautoescape %}
                        {% endif %}
                        <br/>
                    {% endfor %}
                    </td>
                {% endfor %}
                </tr>
            </table>

            {% if has_voted %}
                <p> Hi {{user.username}} {{user.firstname}}, you have voted
                for this activity.
                <input type="button" value="Re-Vote" style="background-color:#F8981D; color:#fff; font-weight: bold;" onclick="return revote();"/>
                <span class="general_warning">OVERWRITES</span> your previous
                voting,
                <input type="button" value="Un-Vote" style="background-color:#ED1C24;color:#fff; font-weight: bold;" onclick="return delvote()"/>
                <span class="general_error">REMOVES</span> your previous voting.
                <p>
                <p>
            {% else %}
                <p>
                <input type="button" value="Take Vote" style="background-color:#7AC142;color:#fff; font-weight: bold;" onclick="return vote();"/>
            {% endif %}

            </form>
        {% endif %}
    {% endif %}
</section>

<!--Show results - anybody is allowed to see the result.-->

<section class="vote_result">
    <h2>Voting Results</h2>
    {% for vt in vote_tables %}
        {% autoescape off %}
        <table id="vote_result">
            <tr class="alt">
                <td><b>{{vt.vote.summary}}</b></td>
                {% if vt.table.is2D %}
                    {% for c in vt.table.col_head %}
                        <td><b>{{c.content}}
                        {% if c.hyperlink != "" and c.hyperlink != False %}
                            <a href= {{c.hyperlink}} target="_blank"> <img src = {{MEDIA_URL}}/image/open_new_window.png width=12 height=12 border=0 /></a>
                        {% endif %}
                        </b></td>
                    {% endfor %}
                {% else %}
                    <td><b>Result</b></td>
                {% endif %}
            </tr>

            {% for t in vt.table.table_with_row %}
                <tr>
                    <td><b>{{ t.row_head.content }}
                    {% if t.row_head.hyperlink != "" and t.row_head.hyperlink != False %}
                        <a href= {{t.row_head.hyperlink}} target="_blank"> <img src = {{MEDIA_URL}}/image/open_new_window.png width=12 height=12 border=0 /></a>
                    {% endif %}
                    </b></td>
                    {% for rb in t.row_body %}
                        <td>{{ rb }}</td>

                    {% endfor %}
                </tr>
            {% endfor %}

            <tr class="alt">
            {% if not vt.table.is2d %}
                <td align = right><b> Total </b></td>
                <td><b> {{vt.vote.answerscount}} </b></td>
            {% endif %}
            </tr>
        </table>
        {% endautoescape %}
        <br />
    {% endfor %}

    <p><a href = "/whovotewhat/{{avt.id}}" class="strong">&nbsp;&nbsp;Who vote what&nbsp;&nbsp;</a>  <a href="/download_activity/{{ avt.id }}" class="strong" title="download voting result as OpenDocument Format"> &nbsp;&nbsp;Download me&nbsp;&nbsp; </a>
</section>

</div>

{% endblock %}
